@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    margin-top: 20px;
    width: 80%;
    height: 10vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);

    nav {
      list-style: none;
      display: flex;
      gap: 0.8rem;
      display: flex;
      width: 60%;
      height: 10vh;
      align-items: center;
      justify-content: space-evenly;

      a {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        transition: color 0.3s ease;

        &:hover {
          color: #4247a2;
        }
      }
    }
  }
  .box-banner {
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    margin-inline: auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box-titulo {
      width: 50%;
      height: auto;
      text-align: left;
      h1 {
        font-size: 3.2rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 20px;
        background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }

      p {
        font-size: 2.2rem;
        color: #04031c;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
  }
}
.Box-Btn {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
  flex-direction: row;

  .BtnAzul {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #1173d4;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
  .BtnBranco {
    background: white;
    color: #1173d4;
    border: 1px solid #1173d4;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.box-titulo {
  width: 100%;

  h1 {
    font-size: 5rem;
  }

  p {
    width: 100%;
    font-size: 1.1rem;
  }
}

.box-banner2 {
  background-color: #f8f9fa;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 4rem 5rem;

  .box-titulo2 {
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
    justify-content: center;
    margin-inline: auto;
    h2 {
      width: 100%;
      font-size: 2.7rem;
      font-weight: 800;
      line-height: 1.2;
      background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
    p {
      font-size: 1.3rem;
      color: #04031c;
      width: 100%;
      margin-top: 20px;
    }
  }
}
.cards-box2 {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;

  .card {
    width: 290px;
    height: 202px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    align-items: center;
    background-color: #f9fafb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    img {
      width: 53px;
    }
    h2 {
      font-size: 20px;
      color: #04031c;
      margin-top: 20px;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
    }
    p {
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      margin-top: 20px;
      text-transform: capitalize;
    }
    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 16px rgba(68, 67, 67, 0.938);
    }
  }
}

.box-banner3 {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #fdefef;
  align-items: center;
  flex-direction: column;

  .box-titulo3 {
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    h3 {
      font-size: 2.7rem;
      font-weight: 800;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(
          90deg,
          rgba(249, 1, 111, 0.54) 0%,
          rgba(147, 8, 133, 0.619615) 41.83%,
          rgba(208, 56, 170, 0.754793) 70.19%,
          #851c87 100%
        );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.2;
      color: transparent;
    }
  }
}

.cards-box3 {
  display: flex;
  gap: 5rem;
  width: 80%;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;

  .card2 {
    width: 290px;
    height: 420px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
      width: 105px;
    }
    h3 {
      font-size: 20px;
      color: #000000;
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 20px;
      font-family: "Roboto", sans-serif;
    }

    ul,
    li {
      text-align: left;
      margin-top: 10px;
      margin-left: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
    }
    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 16px rgba(247, 185, 236, 0.938);
    }
  }
}

.box-banner4 {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #f8f9fa;
  align-items: center;
  flex-direction: column;

  .box-titulo4 {
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    h3 {
      font-size: 2.7rem;
      font-weight: 800;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(
          90deg,
          #3373d2 16.04%,
          #6f95c7 33.14%,
          #7bb5f5 54.51%,
          #0074ee 68.5%,
          #5ea7ef 87.02%
        );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.2;
      color: transparent;
    }
  }
}
.cards-box4 {
  display: flex;
  gap: 5rem;
  width: 80%;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;

  .card3 {
    width: 290px;
    height: 420px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
      width: 105px;
    }
    h3 {
      font-size: 20px;
      color: #000000;
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 20px;
      font-family: "Roboto", sans-serif;
    }

    ul,
    li {
      text-align: left;
      margin-top: 10px;
      margin-left: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
    }
    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 16px rgba(112, 152, 232, 0.938);
    }
  }
}

.box-banner5 {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  flex-direction: column;

  .box-titulo5 {
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    h3 {
      font-size: 2.7rem;
      font-weight: 800;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(90deg, #1173d4 25.96%, #33cc73 74.52%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.2;
      color: transparent;
    }
  }
}
.cards-box5 {
  display: flex;
  gap: 5rem;
  width: 90%;
  height: auto;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;

  .card4 {
    width: 420px;
    height: 150px;
    display: flex;

    img {
      width: 40px;
      margin-right: 10px;
    }

    .text1 {
      background-color: #f9d5e5;
      display: flex;
      align-items: flex-start;
      text-align: left;
      border-radius: 15px;
      padding: 10px;
      flex-direction: column;

      .card-alertas {
        display: flex;
        align-items: center;
        h3 {
          font-size: 20px;
          color: #ad346a;
          font-weight: 700;
          margin-bottom: 5px;
          margin-top: 20px;
          font-family: "Roboto", sans-serif;
          text-align: left;
          margin: 0 0 5px 0;
        }
      }
      p {
        font-size: 15px;
        color: #ad346a;
        text-align: center;
        margin: 0;
        padding: 10px;
      }
      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(247, 185, 236, 0.938);
      }
    }
    .text2 {
      background-color: #cfe2f3;
      display: flex;
      align-items: flex-start;
      text-align: left;
      border-radius: 15px;
      padding: 10px;
      flex-direction: column;

      .card-alertas {
        display: flex;
        align-items: center;
        h3 {
          font-size: 20px;
          color: #2769a3;
          font-weight: 700;
          margin-bottom: 20px;
          margin-top: 20px;
          font-family: "Roboto", sans-serif;
          text-align: left;
          margin: 0 0 5px 0;
        }
      }
      p {
        font-size: 15px;
        color: #2769a3;
        text-align: center;
        margin: 0;
        padding: 10px;
      }

      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(112, 152, 232, 0.938);
      }
    }

    .text3 {
      background-color: #d4edda;
      display: flex;
      align-items: flex-start;
      text-align: left;
      border-radius: 15px;
      padding: 10px;
      flex-direction: column;
      .card-alertas {
        display: flex;
        align-items: center;
        h3 {
          font-size: 20px;
          color: #244a2d;
          font-weight: 700;
          margin-bottom: 20px;
          margin-top: 20px;
          font-family: "Roboto", sans-serif;
          text-align: left;
          margin: 0 0 5px 0;
        }
      }
      p {
        font-size: 15px;
        color: #244a2d;
        text-align: center;
        margin: 0;
        padding: 10px;
      }
      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(111, 233, 148, 0.938);
      }
    }

    .text4 {
      background-color: #ffe9c2;
      display: flex;
      align-items: flex-start;
      text-align: left;
      border-radius: 15px;
      padding: 10px;
      flex-direction: column;
      .card-alertas {
        display: flex;
        align-items: center;
        h3 {
          font-size: 20px;
          color: #976c00;
          font-weight: 700;
          margin-bottom: 20px;
          margin-top: 20px;
          font-family: "Roboto", sans-serif;
          text-align: center;
          margin: 0 0 5px 0;
        }
      }
      p {
        font-size: 15px;
        color: #976c00;
        text-align: center;
        margin: 0;
        padding: 10px;
      }
      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(222, 208, 15, 0.938);
      }
    }
  }
}

.main-footer {
  background-color: #313461;
  color: #ffffff;
  padding: 3rem 2rem 1rem;
  width: 100%;

  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #ffffff;
  }
  p,
  a,
  li {
    font-size: 0.95rem;
    line-height: 1.4;
    color: #fefefe;
    text-decoration: none;
  }
  a:hover {
    color: #d1d1d1;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 0.95rem;
    margin-bottom: 5px;
  }

  .footer-logo {
    width: 120px;
    margin-bottom: 15px;
  }

  .footer-brand,
  .footer-links,
  .footer-contact {
    width: 30%;
    margin-bottom: 30px;
    min-width: 180px;
  }
  .footer-disclaimer {
    width: 100%;
    border-top: 1px solid #9fabbc;
    padding: 20px 2rem;
  }
  .footer-final {
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 768px) {
  /* 1. HEADER GERAL */
  header {
    height: auto;
    width: 100%;
    padding-top: 10px;
    background: none;
  }
  .box-header {
    top: auto;
    left: auto;
    width: 100%;
    margin-inline: auto;
    margin-top: 20px;
    padding: 8px 3px;
    border-radius: 60px;
    height: 5vh !important;

    img {
      width: 30%;
    }

    nav {
      flex-direction: row;
      justify-content: center;
      width: 60%;

      a {
        font-size: 2.7vw !important;
        width: 18.5vw;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  /* 2. BANNER (.box-banner) - Força o empilhamento vertical */
  .box-banner {
    flex-direction: column;
    display: flex;
    height: 70vh !important;
    width: 100%;
    align-items: center;
    margin-top: 40px;

    .box-titulo {
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        margin-bottom: 0% !important;
        width: 100% !important;
        text-align: center;
        font-size: 11.5vw !important;
      }
      p {
        width: 68% !important;
        text-align: center;
        font-size: 4.5vw !important;
      }

      .Box-Btn {
        flex-direction: row; /* Mantém lado a lado, se houver espaço */
        justify-content: center;
        width: 80%;

        .BtnAzul {
          font-size: 0.8rem;
          width: 70%;
          height: 50px;
        }
        .BtnBranco {
          font-size: 0.8rem;
          width: 40%;
          height: 50px;
        }
      }
    }
  }

  /* ---------------------------------------------------- */
  /* 3. BOX BANNER2 (Importância dos exames) */
  /* ---------------------------------------------------- */

  .box-banner2 {
    padding: 40px 15px;

    .box-titulo2 {
      display: flex;
      flex-direction: column;

      h2 {
        text-align: center;
        font-size: 2rem;
      }

      p {
        font-size: 0.85rem;
        padding: 0 4%;
        width: 100%;
      }
    }
  }

  .cards-box {
    max-width: 90%;
    flex-direction: column;
    display: flex;
    gap: 15px;
    width: 95%;
    margin-inline: auto;
    padding: 0;
  }

  .cards-box .card {
    width: 95%;
    min-width: unset;
    padding: 25px;
  }
  /* ---------------------------------------------------- */
  /* 4. BOX-BANNER3(Prevenção Feminnina) */
  /* ---------------------------------------------------- */
  .box-banner3 {
    padding: 3rem 1rem;
  }
  .box-titulo3 {
    width: 100%;
    h3 {
      font-size: 2rem !important;
    }
  }

  .cards-box3 .card2 {
    width: 90%;
    height: auto;

    .cards-box3 {
      gap: 20px;
    }
  }

  /* ---------------------------------------------------- */
  /* 5. BOX-BANNER 4(Prevenção Masculina) */
  /* ---------------------------------------------------- */
  .box-banner4 {
    padding: 3rem 1rem;
  }
  .box-titulo4 {
    width: 100%;
    h3 {
      font-size: 2rem !important;
    }
  }

  .cards-box4 .card3 {
    width: 90%;
    height: auto;

    .cards-box4 {
      gap: 20px;
    }
  }
  /* ---------------------------------------------------- */
  /* 5. CARDS DE ALERTA (Alertas Importantes) */
  /* ---------------------------------------------------- */
  .box-banner5 {
    padding: 3rem 1rem;
  }
  .box-titulo5 {
    h3 {
      width: 100% !important;
      font-size: 2rem !important;
    }
    .cards-box5 {
      flex-direction: column;
      width: 95%;
      gap: 20px;
      margin-inline: auto;
    }
  }
  .cards-box5 .card4 {
    width: 100%;
    height: auto;
  }

  p {
    font-size: 0.8rem;
    width: 100% !important;
    text-align: center;
    height: auto;
  }

  /* ---------------------------------------------------- */
  /* 5. FOOTER (Rodapé) */
  /* ---------------------------------------------------- */
  .main-footer {
    padding: 2rem 1rem;
  }

  .main-footer .footer-content {
    flex-direction: column;
    gap: 15px;
  }

  .main-footer .footer-brand,
  .main-footer .footer-links,
  .main-footer .footer-contact {
    width: 100%;
    min-width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }

  .main-footer .footer-disclaimer {
    padding: 15px 1rem;
  }
  .main-footer .footer-final {
    text-align: center;
  }
}
